.clearfix a img {
    height: 20px;
    width: 20px;
}
#deals {
    color: red;
}
/*body {
    background-color: red;
}
html {
    background-color: red;
}*/
/*.section {
    background-color: red;
}*/
